spring-custom-xml/src/main/resources/META-INF/xmltest.xsd

<xsd:schema
        xmlns="http://xmltest.com/schema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://xmltest.com/schema">


    <xsd:element name="student">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>